.footer{ background: #0C2B18; padding: 60px; display: flex; flex-direction: row; justify-content: center; color:#fff }
.footer div { width:300px; font-size: 18px; margin-left: 30px; }
.footer div h6 { font-size: 25px; }
.footer div a { color:#fff; text-decoration: none; }

.footer div:first-child { width:350px; font-size: 18px; margin-left: 30px; margin-right: 40px; }

/*
.sb-servicos-digitais__conteudo__banner__wrapper { position: relative; top: 45px; }
.sb-servicos-digitais__conteudo__banner .sb-servicos-digitais__conteudo__banner__title { font-weight: 900; font-size: 50px; }
.sb-servicos-digitais__conteudo__banner .sb-servicos-digitais__conteudo__banner__title:after { content: "Domine as finanças da sua empresa com facilidade"; font-weight: bold; display:block; width: 85%; margin-top:30px; font-size: 20px; line-height: 22px; }

#banner1,#banner2,#banner3,#banner4 { background-color: #fff; }

#banner-tome, #banner-simule, #banner-avalie, #banner-entenda{ background-color: #fff; }

#acesseagorafluxo { background-color:#fff }
#acesseagorafluxo .sb-components-button.inline{ background-color: #14ADCC; color: #fff; padding: 15px 90px !important; display: block; position: relative; top: -140px; font-size: 20px; border-radius: 15px !important; }



@media screen and (max-width:780px) {
    .sb-servicos-digitais__conteudo__banner__wrapper { padding: 0px 0 28px; }
    .sb-servicos-digitais__conteudo__banner__title { line-height: 43px; }
    .sb-servicos-digitais__conteudo__banner .sb-servicos-digitais__conteudo__banner__title:after { font-size: 25px; line-height: 35px; }
    #btn-download-digital { margin-right: 0px; margin-bottom: 32px; padding: 11px; }

    .sb-hotsite-template-1__banner__wrapper__text__sub-title strong,
    .sb-hotsite-template-1__banner__wrapper__text__sub-title span { font-size: 16pt; }

    #acesseagorafluxo { height: 100px; min-height: 100px; }
    #acesseagorafluxo .sb-components-button.inline{ padding: 16px !important; font-size: 16px; top:35px !important; }

    #banner1 .sb-hotsite-template-1__banner__wrapper,
    #banner2 .sb-hotsite-template-1__banner__wrapper,
    #banner3 .sb-hotsite-template-1__banner__wrapper,
    #banner4 .sb-hotsite-template-1__banner__wrapper,
    #banner-tome .sb-hotsite-template-1__banner__wrapper,
    #banner-simule .sb-hotsite-template-1__banner__wrapper,
    #banner-avalie .sb-hotsite-template-1__banner__wrapper,
    #banner-entenda .sb-hotsite-template-1__banner__wrapper{ padding:0px 0px 0px 50px; }

    #banner1 .sb-hotsite-template-1__banner__wrapper__text__title,
    #banner2 .sb-hotsite-template-1__banner__wrapper__text__title,
    #banner3 .sb-hotsite-template-1__banner__wrapper__text__title,
    #banner4 .sb-hotsite-template-1__banner__wrapper__text__title,
    #banner-tome .sb-hotsite-template-1__banner__wrapper__text__title,
    #banner-simule .sb-hotsite-template-1__banner__wrapper__text__title,
    #banner-avalie .sb-hotsite-template-1__banner__wrapper__text__title,
    #banner-entenda .sb-hotsite-template-1__banner__wrapper__text__title { display:none }
}
*/