Projeto/backend/node_modules
Projeto/backend/*.dbf
Projeto/backend/*.shp
.DS_Store
Documentos
Camadas/ibge_rodovia_estadual/ibge_rodovia_estadual.shp
Camadas/ibge_rodovia_estadual/ibge_rodovia_estadual.dbf
Camadas/Imoveis_da_Uniao
Camadas/ibge_municipio/ibge_municipio.shp
Camadas/ibge_municipio.zip
Camadas/incra_sigef_publico/incra_sigef_publico.dbf 
Camadas/GIP/Painel da GIP/mapas de entrada fragilidade/Bacia do Rio Tijuco/Declividade_ bacia_tijuco_novo.tif
Camadas/GIP/Painel da GIP/Mapas de fragilidade/Bacia do Rio Tijuco/fragilidade_2022.tif