.home_hero{
    background: url('../../assets/img/hero_home.png') top center no-repeat;
    background-size: cover;
    height: 522px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 20px;
}

.home_hero_logos{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin: 40px 60px 0px 0px;
}
.home_hero_logos img{ height: 100px; }
.home_hero_logos img:first-child{ position:relative; top: 15px; }

.home_hero_titulo { padding: 50px; }
.home_hero_titulo h1 { color: #fff; font-size: 50px; }
.home_hero_titulo .home_hero_btn { background: #fff; border-radius: 10px; text-decoration: none; padding: 10px 30px; position:relative; top: 20px; }