.mainLogin{ width: 70%; margin-left: 15%; text-align: center; }
.mainLogin h5{ color:#008E5B; font-size: 50px; text-align: center; margin:0px; margin-bottom: 30px; }

.mainLogin .preInput2{ width:100%; margin: 0px 0px 30px 0px !important; display: flex; flex-direction: column; justify-content: start; align-items: start; }
.mainLogin .preInput2 span{ font-size: 20px; }
.mainLogin .preInput2 input,
.mainLogin .preInput2 select{ width:95%; background-color: #ddd ; padding:10px; border-radius: 100px; border:solid 1px transparent; padding:15px; margin-top:10px; color:#000; font-size: 20px; }


.mainLogin .btnEntar { background: #17922C; width:50%; border-radius: 100px; color:#fff; padding:15px; font-weight: 20px; font-size: 20px; margin-top:50px; }

.mainLogin a { color: #F87625; font-weight: bold; font-size: 18px; }